::placeholder {
    color: #707070;
  }
  
  ::-ms-input-placeholder {
    /* Edge 12-18 */
    color: #707070;
  }

.login-img {
    width: 85%;
    height: 100vh;
}

.card-section {
    border-radius: 5px;
    /*background-color: #F76D6D1F;*/
}


.login-section-cart {
    box-shadow: 13px 12px 20px 0px #0000002B;
    background: #ffff;
    border-radius: 25px !important;
    margin: 75px 20px 50px 20px;
    padding: 25px;
}

.form-control {
    border-radius:1rem !important;
    border: 0px !important;
}

.h-input-label {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 600;
    line-height: 28.65px;
    text-align: left;
}


.contact-banner {
    background-image: image-set( url('../images/contact-bg.png') 1x);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #F9F3EC;
}

.h-input-text {
    border: 0.5px solid #EAEAEA;
    background: #FEEFEF;
}

.h-input-text-p {
    border: 0.5px solid #EAEAEA ;
    background: #FEEFEF;
    height:150px !important;
}

.pink-l {
    color: #F76D6D;
}

.top-mg {
    margin-top:18rem !important;
}
.contact-wrapper{
    margin: 10px 20px 50px 20px;
}
.displaytitle{
    margin-top: 60px;
    margin-left: 20px;
    color: #fff;
}
.inputlabel{
    font-size: 15px;
}
.btn-contact{
    height: 120px;
    font-family: "Lato",sans-serif;
}
@media (max-width:600px) {
    .top-mg {
        margin-top: 4rem !important;
    }
    .contact-wrapper{
        margin: 10px 0px 50px 0px;
    }
    .inputlabel{
        font-size: 12px;
    }
    .h-input-text{
        font-size: 13px;
    }
    .h-input-text-p{
        font-size: 13px;
    }

}

@media (max-width:768px) {
    .displaytitle{
        margin-top: 0px;
        margin-left: 20px;
        color: #000;
    }
}